    <nav id="menu">
        <aside>
            <div class="profile"><img width="150", height="150" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/me.jpg" alt="profile image"></div>

            <h3>{{SITESUBTITLE}}</h3>

            <div class="network">
                <a href="https://twitter.com/jibbo">
                    <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/icon/circle/Twitter.png" alt="Twitter">
                </a>

                <a href="https://www.linkedin.com/in/jibreel">
                    <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/icon/circle/LinkedIn.png" alt="LinkdIn">
                </a>

                <a href="https://www.facebook.com/jibreel">
                    <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/icon/circle/Facebook.png" alt="Facebook">
                </a>

                <a href="https://plus.google.com/u/0/+jibreeltozlok/posts">
                    <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/icon/circle/GooglePlus.png" alt="GooglePlus">
                </a>

                <a href="skype:jibbo1988?add">
                    <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/icon/circle/Skype.png" alt="Skype">
                </a>
            </div>

            <a class="button" href="/">home</a>
          {% for p in pages %}
                <a class="button {% if p == page %}active{% endif %}" href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
          {% endfor %}
        </aside>

        </ul>
    </nav>
