@charset "UTF-8";
.highlight .hll {
  background-color: #49483e; }

.highlight .c {
  color: #75715e; }

/* Comment */
.highlight .err {
  color: #960050;
  background-color: #1e0010; }

/* Error */
.highlight .k {
  color: #66d9ef; }

/* Keyword */
.highlight .l {
  color: #ae81ff; }

/* Literal */
.highlight .n {
  color: #f8f8f2; }

/* Name */
.highlight .o {
  color: #f92672; }

/* Operator */
.highlight .p {
  color: #f8f8f2; }

/* Punctuation */
.highlight .cm {
  color: #75715e; }

/* Comment.Multiline */
.highlight .cp {
  color: #75715e; }

/* Comment.Preproc */
.highlight .c1 {
  color: #75715e; }

/* Comment.Single */
.highlight .cs {
  color: #75715e; }

/* Comment.Special */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .kc {
  color: #66d9ef; }

/* Keyword.Constant */
.highlight .kd {
  color: #66d9ef; }

/* Keyword.Declaration */
.highlight .kn {
  color: #f92672; }

/* Keyword.Namespace */
.highlight .kp {
  color: #66d9ef; }

/* Keyword.Pseudo */
.highlight .kr {
  color: #66d9ef; }

/* Keyword.Reserved */
.highlight .kt {
  color: #66d9ef; }

/* Keyword.Type */
.highlight .ld {
  color: #e6db74; }

/* Literal.Date */
.highlight .m {
  color: #ae81ff; }

/* Literal.Number */
.highlight .s {
  color: #e6db74; }

/* Literal.String */
.highlight .na {
  color: #a6e22e; }

/* Name.Attribute */
.highlight .nb {
  color: #f8f8f2; }

/* Name.Builtin */
.highlight .nc {
  color: #a6e22e; }

/* Name.Class */
.highlight .no {
  color: #66d9ef; }

/* Name.Constant */
.highlight .nd {
  color: #a6e22e; }

/* Name.Decorator */
.highlight .ni {
  color: #f8f8f2; }

/* Name.Entity */
.highlight .ne {
  color: #a6e22e; }

/* Name.Exception */
.highlight .nf {
  color: #a6e22e; }

/* Name.Function */
.highlight .nl {
  color: #f8f8f2; }

/* Name.Label */
.highlight .nn {
  color: #f8f8f2; }

/* Name.Namespace */
.highlight .nx {
  color: #a6e22e; }

/* Name.Other */
.highlight .py {
  color: #f8f8f2; }

/* Name.Property */
.highlight .nt {
  color: #f92672; }

/* Name.Tag */
.highlight .nv {
  color: #f8f8f2; }

/* Name.Variable */
.highlight .ow {
  color: #f92672; }

/* Operator.Word */
.highlight .w {
  color: #f8f8f2; }

/* Text.Whitespace */
.highlight .mf {
  color: #ae81ff; }

/* Literal.Number.Float */
.highlight .mh {
  color: #ae81ff; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #ae81ff; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #ae81ff; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #e6db74; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #e6db74; }

/* Literal.String.Char */
.highlight .sd {
  color: #e6db74; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #e6db74; }

/* Literal.String.Double */
.highlight .se {
  color: #ae81ff; }

/* Literal.String.Escape */
.highlight .sh {
  color: #e6db74; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #e6db74; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #e6db74; }

/* Literal.String.Other */
.highlight .sr {
  color: #e6db74; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #e6db74; }

/* Literal.String.Single */
.highlight .ss {
  color: #e6db74; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #f8f8f2; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #f8f8f2; }

/* Name.Variable.Class */
.highlight .vg {
  color: #f8f8f2; }

/* Name.Variable.Global */
.highlight .vi {
  color: #f8f8f2; }

/* Name.Variable.Instance */
.highlight .il {
  color: #ae81ff; }

/* Literal.Number.Integer.Long */
/* Generic Heading & Diff Header */
.highlight .gu {
  color: #75715e; }

/* Generic.Subheading & Diff Unified/Comment? */
.highlight .gd {
  color: #f92672; }

/* Generic.Deleted & Diff Deleted */
.highlight .gi {
  color: #a6e22e; }

/* Generic.Inserted & Diff Inserted */
nav {
  position: fixed;
  width: 250px;
  top: 0;
  left: 0;
  bottom: 0;
  background: #125f77; }
  nav h3 {
    margin: 20px 0 20px;
    color: #aeaeae;
    font-size: 0.9em;
    text-align: center;
    color: white;
    line-height: 1.5em;
    font-family: cursive;
    margin-bottom: 40px; }
  nav h4 {
    text-align: center;
    color: white;
    font-family: monospace;
    margin-top: 30px;
    margin-bottom: 28px;
    font-family: cursive; }
  nav a {
    display: inline-block;
    text-decoration: none;
    padding-top: 5px;
    color: #537974; }
  @media (max-width: 940px) {
    nav {
      position: relative;
      display: block;
      width: 100%;
      margin: 0; } }
  nav aside {
    margin: 50px auto;
    width: 80%; }
    nav aside .profile {
      overflow: hidden;
      width: 150px;
      height: 150px;
      margin: 0 auto;
      border-radius: 50%; }
    nav aside .network {
      margin: 0 auto 20px;
      text-align: center; }
      nav aside .network a {
        margin: 0; }
        nav aside .network a:hover {
          background: none; }
      nav aside .network a + a {
        margin-left: 4px; }
    nav aside .button {
      background: rgba(255, 255, 255, 0.16);
      text-align: center;
      margin: 0;
      padding: 10px 0;
      color: white;
      width: 100%;
      font-size: 1.1em; }
      nav aside .button:hover {
        background: rgba(255, 255, 255, 0.26); }
    nav aside .button + .button {
      border-top: 1px solid rgba(255, 255, 255, 0.25); }
    @media (max-width: 940px) {
      nav aside {
        margin: 0 auto;
        width: 90%;
        font-size: 2em; }
        nav aside h3 {
          margin: 0;
          padding-top: 0.5em;
          text-align: center; }
        nav aside:first-child {
          font-size: 1.6em; }
          nav aside:first-child a {
            background: 0;
            border: 0;
            padding: 0 0 10px;
            display: block;
            text-align: center; } }
  nav aside.posts {
    width: 100%;
    padding-bottom: 10px; }
    nav aside.posts .url-wrapper {
      width: 100%;
      padding: 0; }
      nav aside.posts .url-wrapper a {
        padding: 5px 0 5px 25px;
        transition: all 0.3s;
        font-size: 0.9em;
        font-weight: bold;
        border-radius: 2px;
        white-space: nowrap; }
        nav aside.posts .url-wrapper a:hover {
          background: #e0e0e0; }
      @media (max-width: 940px) {
        nav aside.posts .url-wrapper {
          text-align: center;
          padding: 0;
          font-size: 0.7em; }
          nav aside.posts .url-wrapper a {
            padding: 0;
            white-space: normal; } }
  @media (min-width: 940px) {
    nav aside.posts.posts-alone a {
      opacity: 0.3; } }

.about-me html, .about-me body {
  height: 100%;
  width: 100%; }
.about-me .clear {
  clear: both; }
.about-me .main {
  display: block;
  position: relative;
  width: 100%;
  height: 100%; }
.about-me .sketch {
  width: 100%;
  opacity: 0.8; }
.about-me .brief {
  font-family: "Inconsolata";
  background: #f6f6f6; }
.about-me .brief .para {
  max-width: 600px;
  display: block;
  margin: 0 auto; }
.about-me .brief p {
  color: #535353;
  font-size: 1.2em;
  margin: 0;
  padding: 20px 0; }
@media (max-width: 660px) {
  .about-me .brief p {
    padding: 20px; } }
.about-me .brief a {
  text-decoration: none;
  color: #55a5d3; }
.about-me .email, .about-me .brief a {
  opacity: 0.8;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s; }
.about-me .email:hover, .about-me .brief a:hover {
  opacity: 1; }
.about-me .email {
  color: #84B9E2;
  margin: 0 0 20px;
  border-top: 4px solid #dedede;
  text-align: center;
  font-size: 1.6em; }
.about-me .blog {
  text-align: center;
  margin: 0 0 20px; }
.about-me .blog a {
  color: white;
  padding: 10px 50px;
  text-decoration: none;
  opacity: 0.8;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  background: #D94848;
  font-size: 1.6em; }
.about-me .blog a:hover {
  opacity: 1; }
.about-me .profile {
  overflow: hidden;
  width: 250px;
  margin: 20px auto;
  border-radius: 50%; }
.about-me .profile img {
  width: 250px; }
.about-me .network {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  padding-left: 20px; }
  .about-me .network a {
    opacity: 0.8;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s; }
    .about-me .network a:hover {
      opacity: 1;
      background: none; }
  .about-me .network img + img {
    margin-left: 40px; }
@media (max-width: 480px) {
  .about-me .network {
    padding: 0; } }
.about-me video {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.body {
  transition: all 0.2s;
  margin: 0 auto;
  padding: 50px 10px 0;
  max-width: 600px;
  font-size: 18px; }
  @media (max-width: 660px) {
    .body {
      padding: 30px; } }

article {
  word-spacing: 0.1em;
  letter-spacing: 0.05em;
  line-height: 1.3em;
  color: #464646; }
  @media (max-width: 660px) {
    article {
      font-size: 0.9em; } }

h1, h2, h3, h4, h5, h6 {
  color: #333333;
  line-height: 1.1em; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    margin: 0; }

p {
  margin: 25px 0; }

a {
  margin: 0 5px;
  color: #55a5d3;
  text-decoration: none;
  transition: all 0.2s;
  font-size: 1.1em; }
  a:hover {
    background: #e0e0e0; }

img {
  max-width: 100%;
  margin: 0 auto;
  display: block; }

code {
  padding: 4px 6px 5px 6px;
  margin: 0 3px;
  font-size: 0.7em;
  color: white;
  background: #464646; }

.highlight {
  border-top: 10px solid #37788C;
  box-sizing: border-box;
  padding: 25px 0 25px 25px;
  overflow-x: auto;
  background: #333333; }
  .highlight pre {
    margin: 0;
    padding: 0;
    word-spacing: 0.001em;
    letter-spacing: 0.001em;
    line-height: 1.5em;
    tab-size: 4;
    color: white;
    font-size: .7em;
    min-width: 400px; }

.highlight + .highlight {
  margin-top: 35px; }

blockquote {
  margin: 15px 0 15px 15px;
  padding: 0 0 0 3em;
  font-style: italic; }
  blockquote:before {
    display: block;
    content: "“";
    margin-left: -0.9em;
    height: 0;
    font: italic 50px / 40px "Inconsolata", sans-serif; }
  blockquote footer {
    padding-top: 10px;
    opacity: 0.5; }

.post-info {
  font-size: .8em;
  margin-top: -10px; }

.highlight-red {
  background: #D85959; }

.highlight-blue {
  background: #598CD8;
  color: white; }

/*# sourceMappingURL=index.css.map */
