@import 'monokai';


$primary-color: rgb(60, 204, 242);
$black: #333333;
$white: white;
$light-dark: rgb(70, 70, 70);


.body {
	transition: all 0.2s;
	margin: 0 auto;
	padding: 50px 10px 0;
	max-width: 600px;
	font-size: 18px;
	@media (max-width: 660px) {
		padding: 30px;
	}
}

article {
	word-spacing: 0.1em;
	letter-spacing: 0.05em;
	line-height: 1.3em;
	color: $light-dark;
	@media (max-width: 660px) {
		font-size: 0.9em;
	}
}


h1, h2, h3, h4, h5, h6{
	color: $black;
	line-height: 1.1em;
	a{
		color: inherit;
		margin: 0;
	}
}

p{
	margin: 25px 0;
}

a{
	margin: 0 5px;
	color: rgb(85, 165, 211);
	text-decoration: none;
	transition: all 0.2s;
	font-size: 1.1em;
	&:hover{
		background: #e0e0e0;
	}
}

img{
	max-width: 100%;
	margin: 0 auto;
	display: block;
}

code {
	padding: 4px 6px 5px 6px;
	margin: 0 3px;
	font-size: 0.7em;
	color: white;
	background: $light-dark;
}

.highlight {
	border-top: 10px solid $primary-color;
	box-sizing: border-box;
	padding: 25px 0 25px 25px;
	overflow-x: auto;
	background: $black;
	pre {
		margin: 0;
		padding: 0;
		word-spacing: 0.001em;
		letter-spacing: 0.001em;
		line-height: 1.5em;
		tab-size: 4;
		color: white;
		font-size: .7em;
		min-width: 400px;
	}
}

.highlight + .highlight {
	margin-top: 35px;
}



blockquote{
	margin: 15px 0 15px 15px;
	padding: 0 0 0 3em;
	font-style: italic;
	&:before{
		display: block;
		content: "“";
		margin-left: -0.9em;
		height: 0;
		font: italic 50px / 40px "Inconsolata", sans-serif;
	}
	footer{
		padding-top: 10px;
		opacity: 0.5;
	}
}



.highlight-red{
 	background: #D85959;
}

.highlight-blue{
 	background: #598CD8;
 	color: white;
}
