/ Sidebar
////////////////////////////////////////////////////////////

.sidebar-wrapper
z-index: 2
position: fixed
width: 250px
top: 0
left: 0
bottom: 0
background: rgb(236, 236, 236)
h3
  margin: 20px 0 20px
  color: rgb(174, 174, 174)
  font-size: .9em

a
  display: inline-block
  text-decoration: none
  padding-top: 5px
  color: #537974

@media (max-width: 940px)
  transition: all .5s
  position: relative
  display: block
  width: 100%
  margin: 0

aside
  margin: 50px auto
  width: 80%

  .profile
    overflow: hidden
    width: 150px
    height: 150px
    margin: 0 auto
    border-radius: 50%

  .network
    margin: 0 auto
    div
      +smoothhover(.9)

  .about-me
    +smoothhover(.6)
    background: #E4E4E4
    text-align: center
    margin: 20px 0 0
    width: 100%
    height: 30px
    font-size: 1.1em
    border: 2px solid #E4E4E4
    &:hover
      border: 2px solid rgb(200, 200, 200)

  @media (max-width: 940px)
    margin: 0 auto
    width: 90%
    font-size: 2em

    h3
      margin: 0
      padding-top: .5em
      text-align: center

    &:first-child
      font-size: 1.6em
      a
        +smoothhover(.3)
        background: 0
        border: 0
        padding: 0 0 10px
        display: block
        text-align: center

aside.posts
  width: 100%
  padding-bottom: 10px
  .url-wrapper
    width: 100%
    padding: 0

    a
      +smoothhover(.7)
      padding: 5px 0 5px 25px
      transition: all .3s
      font-size: .9em
      font-weight: bold
      border-radius: 2px
      white-space: nowrap
      &:hover
        background: #E0E0E0

    @media (max-width: 940px)
      text-align: center
      padding: 0
      font-size: .7em
      a
        padding: 0
        white-space: normal

aside.posts.posts-alone
  @media (min-width: 940px)
    a
      opacity: .3