.hamburger{
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 1.3em;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 0;
  background: $black;
  color: white;
  border: none;
  @media all and (min-width: 941px) {
    display: none;
  }
}

nav {
  position: fixed;
  width: 250px;
  top: 0;
  left: 0;
  bottom: 0;
  background: #125f77;

  h3 {
    margin: 20px 0 20px;
    color: rgb(174, 174, 174);
    font-size: 0.9em;
    text-align: center;
    color: white;
    line-height:1.5em;
    font-family: cursive;
    margin-bottom: 40px;
  }

  h4{
    text-align: center;
    color: white;
    font-family: monospace;
    margin-top: 30px;
    margin-bottom: 28px;
    font-family: cursive;
  }
  a {
    display: inline-block;
    text-decoration: none;
    padding-top: 5px;
    color: #537974;
  }

  @media all and (max-width: 940px) {
    display: none;
    height: 100%;
    overflow-y: scroll;
  }

  aside {
    margin: 50px auto;
    width: 80%;
    .profile {
      overflow: hidden;
      width: 150px;
      height: 150px;
      margin: 0 auto;
      border-radius: 50%;
      @media all and (max-width: 940px) {
        width: 100px;
        height: 100px;
        img{
          width: 100px;
          height: 100px;
        }
      }

    }
    .network {
      margin: 0 auto 20px;
      text-align: center;
      a{
        margin: 0;
        &:hover{
          background: none;
        }
      }
      a + a{
        margin-left: 4px;
      }
    }
    .button {
      background: rgba(255, 255, 255, 0.16);
      text-align: center;
      margin: 0;
      padding: 10px 0;
      color: white;
      width: 100%;
      font-size: 1.1em;
      &:hover {
        background: rgba(255, 255, 255, 0.26);
      }
    }
    .button + .button{
      border-top: 1px solid rgba(255, 255, 255, 0.25);
    }
  }

  // aside.posts {
  //   width: 100%;
  //   padding-bottom: 10px;
  //   .url-wrapper {
  //     width: 100%;
  //     padding: 0;
  //     a {
  //       padding: 5px 0 5px 25px;
  //       transition: all 0.3s;
  //       font-size: 0.9em;
  //       font-weight: bold;
  //       border-radius: 2px;
  //       white-space: nowrap;
  //       &:hover {
  //         background: #e0e0e0;
  //       }
  //     }
  //     @media all and (max-width: 940px) {
  //       text-align: center;
  //       padding: 0;
  //       font-size: 0.7em;
  //       a {
  //         padding: 0;
  //         white-space: normal;
  //       }
  //     }
  //   }
  // }

  // aside.posts.posts-alone {
  //   @media all and (min-width: 940px) {
  //     a {
  //       opacity: 0.3;
  //     }
  //   }
  // }




}